#banner{
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.394);
}

#background{
    width: 100vw;
    height: fit-content;
    position: absolute;
    z-index: -1;
    margin: 0px;
    padding: 0px;
}

#main{
    width: auto;
    height: auto;
    margin: 100px;
    padding: 5px;
    background-color: rgba(240, 250, 246, 0.879);
}

.content p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 40px;
    margin-top: 0px;
    text-align: justify;
    width: 67%;
    word-spacing: normal;
}
.content li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 40px;
    margin-top: 0px;
    text-align: justify;
    word-spacing: normal;
}


.content{
    display: flex;
    align-items: flex-start;
    gap: 20px; 
}


h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    text-align: center;
    width: auto;
    margin: 20px;
    background-color: rgba(204, 214, 210, 0.901);
}

#info_imatge{
    width: 885px;
}

#fiporc_img{
    width: 885px;
    height: auto;
    margin-right: 20px;
    padding: 0px;
}

#via_img{
    width: 885px;
    margin-right: 20px;
    margin-top: 50px;
    padding: 0px;
}

#mona_img{
    width: 885px;
    margin-right: 20px;
    margin-top: 50px;
    padding: 0px;
}

#booked_list{
    display: flex; 
    list-style-type: none; 
    padding: 0;
}

#booked_list li{
    margin: 20px;
    padding: 10px;
    font-weight: bold;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(0, 0, 0, 0.714);
}

.infobox{
    width: 50%;
    margin: 20px;
    padding: 10px;
    color: black;
    font-size: 20px;
    background-color: rgba(204, 214, 210, 0.901);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.394);
}

.infobox p{
    width: auto;
    font-size: 28px;
    text-align: left;
    margin: 5px;
    font-style: italic;
}

#via_sound{
    padding: 0px;
    margin-top: 20px;
    text-align: center;
}

#via_sound figcaption{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

#via_sound audio{
    width: 885px;
    margin-right: 0px;
}

#info_video{
    width: 885px;
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-image: url("fons.jpg");
    background-size:30%;
    background-repeat: repeat;
    background-position: center;
}

body b{
    font-weight: bold;
}
